src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <sub-flow name="registerPatientByIdSubFlow" doc:id="78e9bc61-27bb-498e-8fce-46dee33ef154">
        <ee:transform doc:name="Set variables" doc:id="a321fe6d-3ec3-4dd3-b2cf-dd65b59114b6">
			<ee:message >
			</ee:message>
            <ee:variables>
				<ee:set-variable variableName="code" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.code]]></ee:set-variable>
                <ee:set-variable variableName="id"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="GET register call to Fitbit" doc:id="0610ab1b-8649-4e82-bedc-44c14c813948" config-ref="HTTPS_Request_config_fitbit" path="/Patient/{id}/register">
			<http:uri-params><![CDATA[#[output applicaton/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output applicaton/java
---
{
	"code" : vars.code
}]]]></http:query-params>
		</http:request>
		<flow-ref doc:name="migrateAfterAuthorization" doc:id="f9ae26df-bf08-4b18-bbd9-d62457f198d4" name="migrateAfterAuthorizationSubFlow" />
	</sub-flow>
	<sub-flow name="migrateAfterAuthorizationSubFlow" doc:id="abcb4a7e-076a-4f7b-a667-4e3533be2ea4" >
		<logger level="INFO" doc:name="Log migrate historical data after authorization" doc:id="0f0e60d4-19ca-4606-9148-6caad4185c28" message="Migrate historical data after authorization"/>
		<http:request method="GET" doc:name="GET Patient authorization status" doc:id="cf205714-ac51-4b8e-b241-a7709c80a75a" config-ref="HTTPS_Request_config_fitbit" path="/Patient/{id}">
			<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
		</http:request>
					<ee:transform doc:name="Transform Message to Java object" doc:id="95baa6db-52cc-4649-99ad-229584f83974">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
					<validation:is-true doc:name="Validate if patient is authorized" doc:id="ef21d60a-8917-4c6e-a199-c16ee37a7c1d" config-ref="Validation_Config" expression="#[payload.isAuthorized]" message="Patient not authorized yet" />
        <os:contains doc:name="Contains lastSyncDate" doc:id="661da9df-2397-4a66-85a2-1c4360b61fc7" key="#[vars.id]" objectStore="LastSyncDate_Config" />
        <choice doc:name="Contains lastSyncDate?" doc:id="d75452ac-d087-4db4-bc0d-524b122ae7df">
                <when expression="#[payload]">
                    <os:retrieve doc:name="Set lastSyncDate to fromDate variable" doc:id="a38f4e35-4a0d-4141-a052-11cb53192ec1" key="#[vars.id]" objectStore="LastSyncDate_Config" target="fromDate" />
                    <set-variable value='#["ge" ++ vars.fromDate]' doc:name="Modify fromDate to get data after that date" doc:id="3ec0c433-bdc0-4bec-a930-5c591edd5ebc" variableName="fromDate" />
                </when>
                        <otherwise>
                    <set-variable value='#["eq" ++ (now() as String {format: "yyyy-MM-dd"})]' doc:name="Set default fromDate variable" doc:id="33c675f3-670e-4b73-b7f0-af764b2d1b9f" variableName="fromDate" />
                </otherwise>
            </choice>
        <flow-ref doc:name="migrateFitbitFitnessData" doc:id="a7ab0e3c-959d-45c0-85ca-687546a58ed9" name="migrateFitbitFitnessDataSubFlow" />
		<logger level="INFO" doc:name="Log migrate historical data since lastSyncDate" doc:id="f51a14f5-7b31-415d-8e06-0a6a5c1082c1" message='Migrate historical data since #[vars.fromDate replace "ge" with ""]' />
	</sub-flow>
	<sub-flow name="migrateFitbitFitnessDataSubFlow" doc:id="eac7a943-ad36-4b6a-9f02-842c878151d2">
		<flow-ref doc:name="migrateDevices" doc:id="b8acbd80-ee26-45e0-8bd2-eea552af9af8" name="migrateDevicesSubFlow"/>
		<flow-ref doc:name="migrateObservations" doc:id="72d021a7-37e7-485b-8e0c-ae7b637c31bc" name="migrateObservationsSubFlow"/>
	</sub-flow>
	<sub-flow name="migrateDevicesSubFlow" doc:id="0aabb028-48f3-4dae-a557-3ffda17bfb47" >
		<http:request method="GET" doc:name="GET Devices from Fitbit" doc:id="aded1f56-55c1-4c70-93b5-ebac9ca4e992" config-ref="HTTPS_Request_config_fitbit" path="/Patient/{id}/Device">
			<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Get Devices from the response" doc:id="b21b39bb-9b6d-43ea-8d1d-11316630338a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
if (payload.total > 0) payload.entry.resource else []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each Device" doc:id="fa76a692-c5ff-4b85-9c0c-2b0e76a317bb" collection="payload">
			<set-variable value="#[payload]" doc:name="Set Device variable" doc:id="97f9d818-8ed4-4c60-b844-7e3944c49993" variableName="device" />
			<http:request method="GET" doc:name="GET Device from SFDC" doc:id="062df4e1-c3f7-4781-a3c6-42834bb136f8" config-ref="HTTPS_Request_config_sfdc" path="/Device">
				<http:query-params ><![CDATA[#[output applicaton/java
---
{
	"identifier" : vars.device.identifier[0].value
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Get existing Device Id from JSON response" doc:id="345f2a05-0219-4160-9b21-2acea0666824" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="existingDeviceId" ><![CDATA[%dw 2.0
output application/java
---
if (payload.total > 0) payload.entry[0].resource.id else null]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<choice doc:name="Does Device already exist?" doc:id="e5c56088-144d-4606-898e-b7dc745bb371" >
				<when expression="#[vars.existingDeviceId == null]" >
					<logger level="INFO" doc:name="Log POST operation" doc:id="723f1cf1-3529-444d-bf3a-c3cf92530976" message="POSTing Device : #[vars.device]"/>
					<ee:transform doc:name="Prepare Device for POST in FHIR JSON structure" doc:id="42973b91-7d0a-482b-914a-2e2578226e17" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.device]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<http:request method="POST" doc:name="POST Device into SFDC" doc:id="59e48770-b13d-4ab8-bcb2-abff98e45a54" config-ref="HTTPS_Request_config_sfdc" path="/Device"/>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Log PUT operation" doc:id="b2ab98d5-153a-4dc3-9141-4125858b42a1" message="PUTing Device: #[vars.device]"/>
					<ee:transform doc:name="Prepare Device for PUT in FHIR JSON structure" doc:id="ece3ee9b-feb5-4da0-a5ba-6c7e7b01593d" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.device ++ { "id" : vars.existingDeviceId }]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<http:request method="PUT" doc:name="PUT Device into SFDC" doc:id="9bdde2c3-117f-4835-9d4e-475cc0e0eb90" config-ref="HTTPS_Request_config_sfdc" path="/Device/{id}">
						<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"id" : vars.existingDeviceId
}]]]></http:uri-params>
					</http:request>
				</otherwise>
			</choice>
		</foreach>
	</sub-flow>
	<sub-flow name="migrateObservationsSubFlow" doc:id="d969aec4-60ff-417b-93a5-fee04969917e" >
		<http:request method="GET" doc:name="GET Observations from Fitbit" doc:id="829ad772-7a28-4dd4-b08e-8d6123f1a287" config-ref="HTTPS_Request_config_fitbit" path="/Patient/{id}/Observation">
			<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output applicaton/java
---
{
	"date" : vars.fromDate
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Get Observations from the response" doc:id="d49134c2-e7ef-47fd-95b4-b639d54dc5ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if (payload.total > 0) payload.entry.resource else []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each Device" doc:id="a8299a07-1a7c-44e2-9954-ef1ac9fb2116" collection="payload">
			<logger level="INFO" doc:name="Log POST operation" doc:id="4889d4b8-311e-4e96-8895-feeb12f02fb1" message="POSTing Observation: #[payload]"/>
			<set-variable value="#[payload.effectiveDateTime]" doc:name="Set fromDate variable" doc:id="f6493268-1bc4-4973-8185-0356b2b2467b" variableName="fromDate"/>
			<ee:transform doc:name="Prepare Observation in FHIR JSON structure" doc:id="f66b8df3-8718-44cf-b678-2f598e8a954b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<http:request method="POST" doc:name="POST Observation to SFDC" doc:id="18215803-5e90-49b5-94e2-cc04c2c0e32a" config-ref="HTTPS_Request_config_sfdc" path="/Observation"/>
			<os:store doc:name="Store LastSyncDate" doc:id="7bdd7094-559b-4d3f-96c1-edb721f40bb7" key="#[vars.id]" objectStore="LastSyncDate_Config">
				<os:value ><![CDATA[#[vars.fromDate]]]></os:value>
			</os:store>
		</foreach>
	</sub-flow>
	<sub-flow name="getPatientsByIdSubFlow" doc:id="19b565d0-2634-4087-bead-4cf865690a25">
		<http:request method="GET" doc:name="GET Patient authorization status" doc:id="8d0b8642-1f10-49fb-b3de-4f7852d05eff" config-ref="HTTPS_Request_config_fitbit" path="/Patient/{id}">
			<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"id" : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
	</sub-flow>
	<sub-flow name="unauthorizePatientByIdSubFlow" doc:id="7a49cc1e-0090-4ae0-ab16-fffc0c8d318b">
		<http:request method="GET" doc:name="GET unauthorize call to Fitbit" doc:id="517f2eae-43fd-4e1f-b9f4-d34e674abc7c" config-ref="HTTPS_Request_config_fitbit" path="/Patient/{id}/unauthorize">
			<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"id" : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
	</sub-flow>
	<flow name="syncFitbitFitnessDataSubFlow" doc:id="6dea9337-2c93-4c86-945d-f04503162d17" >
		<scheduler doc:name="Scheduler" doc:id="697c850d-3717-47e4-8571-a273273d3d17" >
			<scheduling-strategy >
				<cron expression="0 10 0 * * ?" />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Log poll for changes from Fitbit" doc:id="9303ab55-cb61-4aa2-986c-8afd8ea2bd61" message='Polling changes from Fitbit .... date : #[now() as String {format: "yyyy-MM-dd"}]'/>
		<http:request method="GET" doc:name="GET authorized Patients from Fitbit" doc:id="32cbdb97-e6c0-439e-a1a8-e6184711ae4b" config-ref="HTTPS_Request_config_fitbit" path="/Patient"/>
		<ee:transform doc:name="Get Patients from the response" doc:id="22629344-8e09-4672-8f95-fd78d6533094" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.patients]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each Patient" doc:id="e58dd35e-098a-4a4a-a128-7cb047a86984" collection="payload">
			<ee:transform doc:name="Set variables" doc:id="1de26e0a-3645-409f-9a5d-4861502c22a3" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="fromDate" ><![CDATA[%dw 2.0
output application/java
---
"eq" ++ (now() as String {format: "yyyy-MM-dd"})]]></ee:set-variable>
					<ee:set-variable variableName="id" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Log fromDate and id variables" doc:id="6884d3a9-c283-4e27-8ab3-631c216e6e52" message="ObservationDate: #[vars.fromDate] ** PatientID: #[vars.id]"/>
			<flow-ref doc:name="migrateFitbitFitnessData" doc:id="3190078c-80ff-41b3-9f2a-2bf1fecc90e8" name="migrateFitbitFitnessDataSubFlow"/>
		</foreach>
		<logger level="INFO" doc:name="Log 'Poll has finished' message" doc:id="305c5614-3883-4f8d-80e4-c84ec9a51817" message="Poll has finished!"/>
	</flow>
</mule>
